body {
    margin: 0;
    min-height: 100vh;
    background-image: url("img/font.jpg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: cursive;
}

.title{
    font-size: 55px;
    color: rgb(24, 26, 25)
}
.card {
    width: 400px;
    margin: 30px auto;
}