body {
    margin: 0;
    min-height: 100vh;
    background-image: url("img/font.jpg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: cursive;
}

.page.title{
    font-size: 55px;
    color: rgb(24, 26, 25)
}
.card {
    width: 300px;
    margin: 30px auto;
    padding:20px;
    background-color: white;
    
    box-shadow: 0 15px 15px black;
    border-radius: 10px;
}
.photo {
    display:block;
    margin: 0 auto;
    height: 200px;
    border-radius: 50%;
}
.title {
    font-size: 30px;
    font-family: cursive;
    
}
.opys{
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 15px;
}